<form role="form">
	<div class="form-group tweet-btn">
		<button type="button" id="tweetBtn" class="btn btn-primary btn-lg">Tweet</button>
	</div>
	<div class="form-group">
		<textarea name="tweetText" id="tweetText" class="form-control" placeholder="ツイート内容を入力してね！"></textarea>
	</div>
</form>